{{ shebang }}
#
# Do some Git garbage collection
#
{% if "el" in release.stdout %}
for DIRECTORY in {{ dirlist_el | join(' ') }}
{% else %}
for DIRECTORY in {{ dirlist_deb | join(' ') }}
{% endif %}
	do chattr -R -i $DIRECTORY/.git > /dev/null
	cd $DIRECTORY > /dev/null
	git gc > /dev/null 2>&1
	chattr -R +i $DIRECTORY/.git > /dev/null
done

exit 0
