{{ shebang }}
#
#############################################################
#
#		+ SCDRM +
# Security/Configuration/Disaster-Recovery Manager
#
#
#############################################################
#
# Main configuration file
SCDRMCONF="/etc/scdrm/scdrm.conf"
#
# Log and report directory
SCDRMLOGDIR="/var/log/scdrm"
#
# Daemon log
SCDRMDLOG="$SCDRMLOGDIR/scdrmd.log"
#
# Error log
SCDRMELOG="$SCDRMLOGDIR/error.log"
#
# Installation log
SCDRMILOG="$SCDRMLOGDIR/install.log"
#
# Recent change log
SCDRMCLOG="$SCDRMLOGDIR/change.log"
#
# Daemon report file
SCDRMREPORT="$SCDRMLOGDIR/report"
#
# Exclude pattern list
EXCLUDED="$SCDRMLOGDIR/excluded.txt"
#
# Managed by 'configuration management' string
MANAGED={{ managed }}
MANAGEDBY={{ managed_string | quote }}
#
# Temp files
TMPF="$SCDRMLOGDIR/scdrm.tmp"
TMPF1="$SCDRMLOGDIR/scdrm1.tmp"
#
# Admin mode lock file
ALOCKF="/run/scdrm-admin.lock"
#
# Timestamp
NOW="$(date '+%F-%T')"
#
# Toggles admin mode on | off
ADMINMODE=0
#
# Report only, don't restore any files. However still does basic disaster recovery
DRYRUN={{ dryrun }}
