{{ shebang }}
#
#############################################################
#
#		+ SCDRM +
# Security/Configuration/Disaster-Recovery Manager
#
#
#############################################################
#
# Main configuration file
SCDRMCONF="{{ scdrm_conf | quote }}"
#
# Log and report directory
SCDRMLOGDIR="/var/log/scdrm"
#
# Daemon log
SCDRMDLOG="$SCDRMLOGDIR/scdrmd.log"
#
# Error log
SCDRMELOG="$SCDRMLOGDIR/error.log"
#
# Installation log
SCDRMILOG="$SCDRMLOGDIR/install.log"
#
# Recent change log
SCDRMCLOG="$SCDRMLOGDIR/change.log"
#
# Daemon report file
SCDRMREPORT="$SCDRMLOGDIR/report"
#
# Exclude pattern list
EXCLUDED="$SCDRMLOGDIR/excluded.txt"
#
# Managed by 'configuration management' string
MANAGED={{ managed }}
MANAGEDBY={{ managed_string | quote }}
#
# Temp files
TMPF="$SCDRMLOGDIR/scdrm.tmp"
TMPF1="$SCDRMLOGDIR/scdrm1.tmp"
#
# Admin mode lock file
ALOCKF="/run/scdrm-admin.lock"
#
# Timestamp
NOW="$(date '+%F-%T')"
#
# Toggles automatic AIDE check ON(1) | OFF(0)
AIDE_CHECK=0
#
# Aide check temp file
ACTMPF="/tmp/aide-auto-check.lck"
#
# Toggle paranoid mode on(1) | off(0)
{% if paranoid is sameas true %}
PARANOID=1
{% elif paranoid is sameas false %}
PARANOID=0
{% endif %}
#
# Temp file for paranoid mode auto service restart
PARANOIDTMP='/var/log/scdrm/paranoid.tmp'
#
# Location of commit ID for paranoid mode
IDPARANOID='.scdrm-paranoid'
#
# Toggles admin mode ON(1) | OFF(0)
ADMINMODE=0
#
# Report only, don't restore any files. However still does basic disaster recovery
DRYRUN={{ dryrun }}
