{{ shebang }}
exec 2>> /var/log/scdrm/error.log

# Check and try to fix some known disaster scenarios
systemctl is-active {{ netservice }}.service > /dev/null || systemctl restart {{ netservice }}.service > /dev/null
#rpm --verify --noconfig openssh-server > /dev/null || yum reinstall openssh-server -y
systemctl is-enabled sshd.service > /dev/null || systemctl enable --now sshd.service > /dev/null
systemctl is-enabled sshd.service | fgrep masked > /dev/null && (systemctl unmask sshd.service && systemctl enable --now sshd.service) > /dev/null
systemctl is-active sshd.service > /dev/null || systemctl restart sshd.service > /dev/null
systemctl is-active crond.service > /dev/null || systemctl restart crond.service > /dev/null

test -e /etc/nologin && /bin/rm -f /etc/nologin > /dev/null
test -e /var/run/nologin && /bin/rm -f /var/run/nologin > /dev/null

test -r / || chmod 0555 /
test -x / || chmod 0555 /
test -r /etc || chmod 0755 /etc
test -x /etc || chmod 0755 /etc
test -r /usr || chmod 0755 /etc
test -x /usr || chmod 0755 /etc
stat / | awk '/Access:/ {print $2}' | fgrep 0555 > /dev/null || chmod 0555 / 
stat / | awk '/Access:/ {print $5,$9}'| fgrep '0/ 0/' >/dev/null || chown root:root /
stat /etc/ | awk '/Access:/ {print $2}' | fgrep 0755 > /dev/null || chmod 0755 /etc/
stat /etc/ | awk '/Access:/ {print $5,$9}'| fgrep '0/ 0/' >/dev/null || chown root:root /etc/
stat /usr/ | awk '/Access:/ {print $2}' | fgrep 0755 > /dev/null || chmod 0755 /usr/
stat /usr/ | awk '/Access:/ {print $5,$9}'| fgrep '0/ 0/' > /dev/null || chown root:root /usr/

/usr/local/sbin/route-guard > /dev/null

# Self check
for unit in scdrm.service scdrm-slow-check.service scdrm-slow-check.timer aide-check.timer
do 
	if systemctl is-enabled $unit > /dev/null
	then true
	else systemctl enable $unit > /dev/null
	fi
done

for unit in scdrm.service scdrm-slow-check.timer aide-check.timer
do
	if systemctl is-active $unit > /dev/null
	then true
	else systemctl start $unit > /dev/null
	fi
done

exit 0
