# Excluded for SCDRM

{% if "el" in release.stdout %}
{% for directoryel in dirlist_el %}
!{{ directoryel }}/git*
{% endfor %}
{% else %}
{% for directorydeb in dirlist_deb %}
!{{ directorydeb }}/git*
{% endfor %}
{% endif %}

!/usr/bin/scdrm-install
!/scdrm
!/etc/cron.allow
!/var/log
!/var/tmp
!/var/run
!/var/spool/mail
!/var/spool/at
!/var/spool/anacron
!/export
!/media
!/nfs.*
!/mnt.*
!/run
!/tmp
!/home
!/proc
!/dev
!/sys
!/mount.*
!/u0.*
!/oracle
!/oraias
!/oraias-logs
!/tftpboot
!/sapmnt
!/test.*
!/app
!/appl
!/webappl
!/hana
!/data.*
!/storage
!/backup.*
!/archive
!/veeam
!/samba
!/cifs
!/WAS

